<h1>Add New Reserve</h1>
<form class="form_add" method="post" action="/rescue_center/locations/new">

</br>
<table>
  <tr>
    <th><label for="name">Name: </label></th>
    <td><input id="name" type="text" name="name" value"type the name" required/></td>
  </tr>
  <tr>
    <th><label for="description">Description</label></th>
    <td><textarea id="description" rows="3" cols="60" name="description" value"type a description" required/>
    </textarea></td>
  </tr>
  <tr>
    <th><label for="land">Caters for LAND animals: </label></th>
    <td><select id="land" name="land" required>
          <option value=""> SELECT Y/N: </option>
          <option value="Yes"> Yes </option>
          <option value="No"> No </option>
        </select></td>
  </tr>
  <tr>
    <th><label for="tree-top">Caters for TREE animals: </label></th>
    <td><select id="tree-top" name="tree_top" required>
          <option value=""> SELECT Y/N: </option>
          <option value="Yes"> Yes </option>
          <option value="No"> No </option>
        </select></td>
  </tr>
  <tr>
    <th><label for="aquatic">Caters for AQUATIC animals: </label></th>
    <td><select id="aquatic" name="aquatic" required>
          <option value=""> SELECT Y/N: </option>
          <option value="Yes"> Yes </option>
          <option value="No"> No </option>
        </select></td>
  </tr>
</table>
<input type="submit" value="Add Reserve" />
<input type="reset" name="Reset Form">
<a href="/rescue_center/locations/all"><input type="button" name="back" value="CANCEL - goto reserve list"></a>
</form>
