<h2>ARE YOU SURE you want to delete '<%= @animal.name() %>' the <%= @animal.species() %>?</h2>
<a href="/rescue_center/animals/delete/<%= @animal.id() %>"><input type="button" name="delete_animal" value="Click to DELETE"></a>
