<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/style.css">
    <title>Appy Critters Rescue Center</title>
  </head>
  <body>
    <header>
      <a class="inline vert_middle" href="/rescue_center"><img class="logo inline" src="/logo.png" alt="Appy Critters Logo"></a>
      <a id="top" class="no_decoration inline vert_middle" href="/rescue_center"><h1 class="title">Appy Critters Rescue Center</h1></a>
    </header>
    <nav class="flex">
      <a class="no_decoration flex nav_button" href="/rescue_center">Rescue Center Dashboad</a>
      <a class="no_decoration flex nav_button" href="/rescue_center/animals/all">List All Animals</a>
      <a class="no_decoration flex nav_button" href="/rescue_center/locations/all">Show Reserves</a>
    </nav>
    <main>
      <%= yield %>
    </main>

    <footer>
      <a id="goto" href="#top">go to top</a>
    </footer>
  </body>
</html>
