/* style.css for rescue_center.rb */

/* { border: 1px solid red; }
*/

.inline{
display: inline-block;
}

.no_decoration {
  text-decoration:none;}
.no_bullets{
  list-style-type: none;}

a:visited{
  color: rgb(50,50,50);}
a:active{
  color: rgb(50,50,50);}
a:link {
  color: rgb(50,50,50);}
a:hover {
  color: rgb(100,100,100);}

main {
  border-radius: 5px;
  border-style: dashed;
  border-color: black;
  border-width: thin;
  margin: 10px;
  padding: 20px;
  width: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  }

thead, th, td {
  border: 1px solid #CCC;}
thead, th {
  font-weight: bold;}
